<div class="form-container">
  <h2>Dodaj fiszki</h2>
  <form (ngSubmit)="addFlashcards()" #flashcardForm="ngForm">
    <label for="set">Wybierz zestaw:</label>
    <select id="set" [(ngModel)]="selectedSetId" name="set" required>
      <option *ngFor="let set of sets" [value]="set.id">{{ set.name }}</option>
    </select>

    <div
      class="flashcard-group"
      *ngFor="let flashcard of flashcards; let i = index"
    >
      <div class="flashcard-row">
        <div class="flashcard-field">
          <input
            id="question-{{ i }}"
            [(ngModel)]="flashcard.question"
            name="question-{{ i }}"
            required
            placeholder=" "
            autocomplete="off"
          />
          <label for="question-{{ i }}">POJĘCIE</label>
        </div>
        <div class="flashcard-field">
          <input
            id="answer-{{ i }}"
            [(ngModel)]="flashcard.answer"
            name="answer-{{ i }}"
            required
            placeholder=" "
            autocomplete="off"
          />
          <label for="answer-{{ i }}">DEFINICJA</label>
        </div>
        <button type="button" class="btn-remove" (click)="removeFlashcard(i)">
          🗑
        </button>
      </div>
    </div>

    <button type="button" class="btn-add" (click)="addNewFlashcard()">
      Dodaj kolejną fiszkę
    </button>
    <button type="submit" [disabled]="!flashcardForm.form.valid">
      Zapisz fiszki
    </button>
  </form>
</div>
