<div class="add-set-container" *ngIf="!isSetAdded">
  <h2>Dodaj nowy zestaw</h2>
  <form (ngSubmit)="addSet()" class="form-container">
    <div class="form-group">
      <label for="setName">Nazwa zestawu:</label>
      <input id="setName" [(ngModel)]="newSet.name" name="setName" required class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Dodaj zestaw</button>
  </form>
</div>

<div class="add-set-container" *ngIf="isSetAdded">
  <h2>Dodaj fiszki</h2>
  <div *ngFor="let flashcard of newFlashcards; let i = index" class="flashcard-container">
    <div class="form-group">
      <label>Pytanie:</label>
      <input [(ngModel)]="flashcard.question" name="question{{i}}" required class="form-control">
    </div>
    <div class="form-group">
      <label>Odpowiedź:</label>
      <input [(ngModel)]="flashcard.answer" name="answer{{i}}" required class="form-control">
    </div>
    <button type="button" (click)="removeFlashcardField(i)" class="btn btn-danger">Usuń</button>
  </div>
  <button type="button" (click)="addNewFlashcardField()" class="btn btn-secondary">Dodaj kolejne pole</button>
  <button type="button" (click)="addFlashcard()" class="btn btn-success">Zapisz fiszki</button>
</div>
